h1 {
 text-align: center;
 color: red;
 font-family: 'Stranger Things', sans-serif;
 font-size: 25vh;
}
body{
    background-color: black;
}
.product-pic {
    width: 25vh;
    height: 25vh;
    display: flex;
    flex-direction: row;
}