h1 {
 text-align: center;
 color: red;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 20vh;
}
body{
    background-color: black;
}
.product-pic {
    width: 35vh;
    height: 35vh;
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
    margin-top: 5vh;
}