h1 {
 text-align: center;
 color: red;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 7vh;
}
body{
    background-color: black;
}
.product-pic {
    width: 35vh;
    height: 35vh;
    margin-left: 10vh;
    margin-top: 5vh;
}
.products {
    display: flex;
    flex-direction: column;
}
.vinyl-prod {
    display: flex;
    flex-direction: row;
}
.cassette-prod {
    display: flex;
    flex-direction: row;
}
#vinyl-text{
    margin-top: 5vh;
    margin-left: 5vh;
    text-align: left;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vh; 
    max-width: 75vh;
}
#cassette-text{
    margin-top: 5vh;
    margin-left: 5vh;
    text-align: left;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vh; 
    max-width: 75vh;

}
#vinyl-btn{
 margin-left: 10vh;
 color: red;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 2vh; 
 background-color: black;
}
#cassette-btn {
    margin-left: 10vh;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vh; 
    background-color: black;
}